@page
@model EDocs.Nyp.LabReqs.AppServices.LookUpEmployeeComplianceLogsViewModel
@{
    ViewData["Title"] = "LookUpEmployeeComplianceLogsView";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div id="headingSessionExp" style="display:none">
    <h3 class="text-center text-danger border">Your Session will expire in&nbsp;<span id="seconds"></span>&nbsp;seconds.<br /></h3>
</div>
@*
    <partial name="Shared/_RecordsNetImage" />
    *@
    <div id="divMain" name="divMain">
        <h1 class="text-center">Employee Compliance Logs</h1>
        <p class="p-1" />

        <div style="background-color:white;">
            <div class="container-fluid">
                <p class="p-2" />
                <a href="#searchOptions" name="sOptions" id="sOptions" class=" btn btn-primary text-center" data-toggle="collapse" onmouseout="document.getElementById('showmess').style.display = 'none'" onmouseover="document.getElementById('showmess').style.display = 'block'">Search Options</a>
                <p class="alert-light" id="showmess" style="display:none">Click to expand/hide Search Options</p>

                <input type="hidden" id="partsearch" name="partsearch" value="" />
                <div id="searchOptions" class="collapse">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Scan Begin Date</th>
                                <th class="text-center">Scan End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><input type="date" id="searchStartDate" name="searchStartDate" value="@Model.StartDate" /></td>
                                <td class="text-center"><input type="date" id="searchEndDate" name="searchEndDate" value="@Model.EndDate" /></td>


                            </tr>
                        </tbody>

                    </table>
                    <div id="checkboxSearchDates" style="display:none">
                        <input type="hidden" id="searchBydate" name="searchBydate" />
                        <div class="row alert-info">
                            <div class="col-2">
                                <p>Search By</p>
                            </div>
                            <div class="col-3">
                                <input type="radio" name="lDate" id="lDate" />&nbsp;Scan Date

                            </div>
                        </div>
                    </div>
                    <p class="p-0" />
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-dark btn-block" id="btnEmpID" name="btnEmpID">ID</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-dark btn-block" id="btnEmpDept" name="btnEmpDept">Department</button>
                        </div>
                        <div class="col" ">
                            <button type="button" class="btn btn-outline-dark btn-block" id="btnEmpJobTitle" name="btnEmpJobTitle">Job Title</button>
                        </div>
                        <div class="col" ">
                            <button type="button" class="btn btn-outline-dark btn-block" id="btnEmpDocType" name="btnEmpDocType">Document Type</button>
                        </div>

                    </div>
                    <p class="p-0" />
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-dark btn-block" id="btnFirstLastName" name="btnFirstLastName">Employee First-Last Name</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-dark btn-block" id="btnScanOpt" name="btnScanOpt">Scan Operator</button>
                        </div>
                    </div>
                    <p class="p-0" />
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary btn-block" id="btnlookUpByDate" name="btnlookUpByDate">All Employees</button>
                        </div>
                        <div class="col" ">
                            <a class="btn btn-outline-warning btn-block btn-link" id="btnrest" href="/LabReqs/LookUpEmployeeComplianceLogsView" name="btnrest" role="button">Reset</a>

                        </div>
                        <div class="col" ">
                            <a class="btn btn-outline-danger btn-block btn-link" id="btnexit" href="/Index" name="btnexit" role="button">Exit</a>

                        </div>

                    </div>
                    <p class="p-2" />
                </div>
            </div>

        </div>

    </div> @*end of main div*@


<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
        opacity: .8; filter: alpha(opacity=70);display:none">
    <p id="parLoading" style="position: absolute; top: 30%; left: 45%; color: White;">
        Getting data, please wait...<img src="~/Images/ajax-loading.gif">
    </p>
</div>

@*
    @{
       await Html.RenderPartialAsync("Partial_Pages/LoadingPagePartialView");
    }
    @if ((@Model.DicSpecimenRejectionModel != null) && (@Model.DicSpecimenRejectionModel.Count > 0))
*@
@if ((@Model.IDicEmployeeComplianceLogsModel != null))
{
    <div id="divLabReqs">
        <p class="text-left">Total Query Time @Model.TotalQueryTime</p>
        <p class="p-0" />
        <table class="table table-hover w-auto" width="100%" id="dtLabReqs">
            <thead>
                <tr>
                    <th>File URL</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                    <th>Department</th>
                    <th>Document Type</th>
                    <th>Job Title</th>
                    <th>Scan Operator</th>
                    <th>Scan Date</th>
                    <th>Scan Batch ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.IDicEmployeeComplianceLogsModel)
                {

                    <tr>

                        <td> <a href="/Partial_Pages/DisplayPdfFilePartialView?pdfurl=@items.Value.FileUrl" target="_blank"><img src="~/Images/small_export-to-pdf-icon-pdf-export-toolbar-icon.png" width="20" height="25" /></a></td>
                        <td>@items.Value.FirstName</td>
                        <td>@items.Value.LastName</td>
                        <td>@items.Value.EmpIdNumber</td>
                        <td>@items.Value.EmpDepartment</td>
                        <td>@items.Value.EmpDocumentType</td>
                        <td>@items.Value.EmpJobTitle</td>
                        <td>@items.Value.ScanOperator</td>
                        <td>@items.Value.ScanDate</td>

                        <td>@items.Value.ScanBatch</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<!-- Modal First last anme -->
<div id="myModalFirstLastName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Employee Compliance by First or Last Name</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="BtnClick('btnCloseFirstLastName')">&times;</button>
            </div>
            <p class="p-0"></p>
            <h6 class="text-center alert-info">Need Employeed First or Last Name or Both First and Last Name</h6>
            <p class="text-danger p-0" id="searchempFLNameBlank" style="display:none">*Need Employeed First or Last Name or Both First and Last Name </p>
            <div class="modal-body">
                <form method="get" id="searchFirstLastName" name="searchFirstLastName" class="form-horizontal">

                    <div class="row">
                        <div class="col">

                            <div nowrap class="form-group form-inline">

                                @Html.LabelFor(model => model.ComplianceLogsModel.FirstName, new { @class = "text-nowrap" })&nbsp;
                                @Html.TextAreaFor(m => m.ComplianceLogsModel.FirstName, new { @maxlength = "50", @class = "form-control-sm text-nowrap border", @placeholder = "Employee First Name" })
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="form-group form-inline">
                                @Html.LabelFor(model => model.ComplianceLogsModel.LastName, new { @class = "text-nowrap" })&nbsp;

                                @Html.TextAreaFor(m => m.ComplianceLogsModel.LastName, new { @maxlength = "50", @class = "form-control-sm text-nowrap border", @placeholder = "Employee Last Name" })
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            @Html.CheckBoxFor(m => m.ComplianceLogsModel.SearchPartial)
                            <label class="text-nowrap" for="scanOp">Employee Name Starts With</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsearchFirstLastName" name="btnsearchFirstLastName" class="btn btn-pill btn-outline-primary">Search</button>
                <button type="button" id="btnCloseFirstLastName" name="btnCloseFirstLastName" class="btn btn-pill btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal scan operator -->
<div id="myModalscanOp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Scan Operator</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="BtnClick('btnScanOperClose')">&times;</button>
            </div>
            <p class="p-0"></p>

            <div class="modal-body">
                <form method="get" id="searchscanOp" name="searchscanOp" class="form-horizontal">

                    <div class="row">
                        <div class="col">

                            <div nowrap class="form-group form-inline">

                                @Html.LabelFor(model => model.ComplianceLogsModel.ScanOperator, new { @class = "text-nowrap" })&nbsp;
                                @Html.TextAreaFor(m => m.ComplianceLogsModel.ScanOperator, new { @maxlength = "50", @class = "form-control-sm text-nowrap border", @placeholder = "Scan Operator Name" })<p class="text-danger" id="searchScanOprBlank" style="display:none">* For all Scan Operators or Scan Operator Name </p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            @Html.CheckBoxFor(m => m.ComplianceLogsModel.SearchPartial)
                            <label class="text-nowrap" for="scanOp">Scan Operator Name Starts With</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsearchscanOp" name="btnsearchscanOp" class="btn btn-pill btn-outline-primary">Search</button>
                <button type="button" id="btnScanOperClose" name="btnScanOperClose" class="btn btn-pill btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal Employee id -->
<div id="myModalEmpID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Employee ID</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="BtnClick('btnCloseEmpID')">&times;</button>


            </div>

            <div class="modal-body">
                <p class="text-danger p-0 text-center" id="searchempIDBlank" style="display:none">*Need Employeed ID:&nbsp;</p>
                <form method="get" id="searchEmpID" name="searchEmpID" class="form-horizontal">

                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                @Html.LabelFor(model => model.ComplianceLogsModel.EmpIdNumber, new { @class = "text-nowrap" })
                                @if (@Model.EmployeeIds != null)
                                {
                                    <select id="selEmpID">
                                        <option value="string-empty"></option>
                                        @foreach (string idemp in Model.EmployeeIds)
                                        {
                                            <option value="@idemp">@idemp</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <p class="text-info">No Employe ID's found</p>
                                }
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsearchIDEmp" name="btnsearchIDEmp" class="btn btn-pill btn-outline-primary">Search</button>
                <button type="button" id="btnCloseEmpID" name="btnCloseEmpID" class="btn btn-pill btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Employee departmernt -->
<div id="myModalEmpDep" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Employee Department</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="BtnClick('btnCloseEmpDep')">&times;</button>


            </div>
            <p class="text-danger p-0 text-center" id="searchempDepBlank" style="display:none">*Need Employeed Department </p>
            <div class="modal-body">
                <form method="get" id="searchEmpDep" name="searchEmpDep" class="form-horizontal">

                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                @Html.LabelFor(model => model.ComplianceLogsModel.EmpDepartment, new { @class = "text-nowrap" })&nbsp;
                                @if (@Model.EmployeeDepartments != null)
                                {
                                    <select id="selEmpDep">
                                        <option value="string-empty"></option>
                                        @foreach (string depemp in Model.EmployeeDepartments)
                                        {
                                            <option value="@depemp">@depemp</option>
                                        }
                                    </select>

                                }
                                else
                                {
                                    <p class="text-info">No Departments</p>
                                }
                                <p class="text-danger" id="searchEmpDepBlank" style="display:none">* Need Employee Department </p>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsearchEmpDep" name="btnsearchEmpDep" class="btn btn-pill btn-outline-primary">Search</button>
                <button type="button" id="btnCloseEmpDep" name="btnCloseEmpDep" class="btn btn-pill btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Employee job title -->
<div id="myModalEmpJobTitle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Employee Job Title</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="BtnClick('btnCloseEmpJobTitle')">&times;</button>


            </div>

            <div class="modal-body">
                <p class="text-danger p-0 text-center" id="searchempJobTitleBlank" style="display:none">* Need Employeed JobTitle </p>
                <form method="get" id="searchEmpJobTitle" name="searchEmpJobTitle" class="form-horizontal">

                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                @Html.LabelFor(model => model.ComplianceLogsModel.EmpJobTitle, new { @class = "text-nowrap" })
                                @if (@Model.EmployeeJobTitle != null)
                                {
                                    <select id="selEmpJobTitle">
                                        <option value="string-empty"></option>
                                        @foreach (string jobTitleemp in Model.EmployeeJobTitle)
                                        {
                                            <option value="@jobTitleemp">@jobTitleemp</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <p class="text-info">No Job Titles found</p>
                                }
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsearchEmpJobTitle" name="btnsearchEmpJobTitle" class="btn btn-pill btn-outline-primary">Search</button>
                <button type="button" id="btnCloseEmpJobTitle" name="btnCloseEmpJobTitle" class="btn btn-pill btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Employee doctype -->
<div id="myModalEmpDocType" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Employee Document Type</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="BtnClick('btnCloseEmpDocType')">&times;</button>


            </div>

            <div class="modal-body">
                <p class="text-danger p-0 text-center" id="searchempDocTypeBlank" style="display:none">*Need Employee Document Type </p>
                <form method="get" id="searchEmpDocType" name="searchEmpDocType" class="form-horizontal">

                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                @Html.LabelFor(model => model.ComplianceLogsModel.EmpDocumentType, new { @class = "text-nowrap" })
                                @if (@Model.EmployeeDocType != null)
                                {


                                    <select id="selEmpDocType">
                                        <option value="string-empty"></option>
                                        @foreach (string docTypeemp in Model.EmployeeDocType)
                                        {
                                            <option value="@docTypeemp">@docTypeemp</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <p class="text-info">No Employee Document Type </p>
                                }
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnsearchEmpDocType" name="btnsearchEmpDocType" class="btn btn-pill btn-outline-primary">Search</button>
                <button type="button" id="btnCloseEmpDocType" name="btnCloseEmpDocType" class="btn btn-pill btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            SessionExpireAlert(0);
            $(this).bind("contextmenu", function (e) {

                e.preventDefault();

            });
            //from year
            if ($('#searchStartDate').val() != '') {
                $('#checkboxSearchDates').css("display", "block");
                $("#searchBydate").val('searchByLogDate');
                $('#lDate').prop('checked', true);
                $('#sDate').prop('checked', false);
                $('#btnlookUpByDate').css("display", "block");
            }
            CompleteAjaxCall();

            $("#divLoading").hide();


            //search from year
            $('#btnFirstLastName').click(function () {

                $("#divMain").fadeOut(100);
                $('#myModalFirstLastName').css("display", "block");
            });
            $('#btnCloseFirstLastName').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalFirstLastName').css("display", "none");
                $('#searchempFLNameBlank').css("display", "none");
            });
            //emp first last name
            $('#btnsearchFirstLastName').click(function () {
                var empFName = document.querySelectorAll("[id='ComplianceLogsModel_FirstName']");
                var empLName = document.querySelectorAll("[id='ComplianceLogsModel_LastName']");
                if (CheckEmptyStr(empFName[0].value, empLName[0].value)) {

                    ShowHideDialog("searchempFLNameBlank");

                    return false;
                }
                var message = "Getting Comliance Logs for Employee First Name " + empFName[0].value + ' Employee Last Name ' + empLName[0].value;

                ShowLoadingDialog(message);
                $('#btnCloseFirstLastName').click();
                $("<input type='hidden' value='pFName' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchFirstLastName");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchFirstLastName");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchFirstLastName");
                $("#searchFirstLastName").submit();

            });
            //scan operator
            $('#btnScanOpt').click(function () {
                //  SetValueUncehckCheckBoxValues();
                $("#divMain").fadeOut(100);
                $('#myModalscanOp').css("display", "block");
            });
            $('#btnScanOperClose').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalscanOp').css("display", "none");
            });

            $(document).keypress(function (e) {
                if (e.which == 13) {

                    if ($('#myModalFirstLastName').is(':visible')) {

                        $('#btnsearchFirstLastName').click();
                        return false;

                    }
                    else if ($('#myModalscanOp').is(':visible')) {

                        $('#btnsearchscanOp').click();
                        return false;

                    }
                    else if ($('#myModalEmpID').is(':visible')) {

                        $('#btnsearchIDEmp').click();
                        return false;

                    }
                    else if ($('#myModalEmpDep').is(':visible')) {

                        $('#btnsearchEmpDep').click();
                        return false;

                    }
                    else if ($('#myModalEmpJobTitle').is(':visible')) {

                        $('#btnsearchEmpJobTitle').click();
                        return false;

                    }
                    else if ($('#myModalEmpDocType').is(':visible')) {

                        $('#btnsearchEmpDocType').click();
                        return false;

                    }
                    else {
                        return true;
                    }
                }
                return true;
            });




            $('#btnsearchscanOp').click(function () {
                if (CheckEmptyStr($('#ComplianceLogsModel_ScanOperator').val())) {

                    ShowHideDialog("searchScanOprBlank");

                    return false;
                }

                $('#btnScanOperClose').click();
                var message = "Looking up LookUp Employee Compliance Logs for Scan Operator " + $('#ComplianceLogsModel_ScanOperator').val();
                ShowLoadingDialog(message);

                $("<input type='hidden' value='searchbyScanOperator' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchscanOp");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchscanOp");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchscanOp");
                $("#searchscanOp").submit();

            });

            //employee id
            $('#btnsearchIDEmp').click(function () {

                if ($('#selEmpID').val() == undefined) {
                    ShowHideDialog("searchempIDBlank");
                    return false;
                }

                if ($('#selEmpID').val() == 'string-empty') {

                    ShowHideDialog("searchempIDBlank");
                    return false;
                }

                var message = "Getting Compliance Logs by Employee ID " + $('#selEmpID').val();
                ShowLoadingDialog(message);
                $('btnCloseEmpID').click();
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchEmpID");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchEmpID");
                $("<input type='hidden' value='searchbyEmpID' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchEmpID");
                $("<input type='hidden'/>")
                    .attr("value", $('#selEmpID').val())
                    .attr("id", "perfLabCode")
                    .attr("name", "perfLabCode")
                    .prependTo("#searchEmpID");
                $("#searchEmpID").submit();

            });

            //emp dep
            $('#btnEmpDept').click(function () {
                $("#divMain").fadeOut(100);
                $('#myModalEmpDep').css("display", "block");
            });
            $('#btnCloseEmpDep').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalEmpDep').css("display", "none");
                $('#searchempDepBlank').css("display", "none");
            });

            //emp doc type
            $('#btnEmpDocType').click(function () {
                $("#divMain").fadeOut(100);
                $('#myModalEmpDocType').css("display", "block");
            });
            $('#btnCloseEmpDocType').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalEmpDocType').css("display", "none");
                $('#searchempDocTypeBlank').css("display", "none");
            });

            //emp jobtitile
            $('#btnEmpJobTitle').click(function () {
                $("#divMain").fadeOut(100);
                $('#myModalEmpJobTitle').css("display", "block");
            });
            $('#btnCloseEmpJobTitle').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalEmpJobTitle').css("display", "none");
                $('#searchempJobTitleBlank').css("display", "none");
            });

            //    $('#searchFromYear').click(function () {
            //        $('#btnCloseFromNumber').click();
            //        $('#searchFromYear').submit();
            //       });

            //employee id
            $("#divLoading").hide();
            //search from year
            $('#btnEmpID').click(function () {
                $("#divMain").fadeOut(100);
                $('#myModalEmpID').css("display", "block");
            });
            $('#btnCloseEmpID').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalEmpID').css("display", "none");
                $('#searchempIDBlank').css("display", "none");

            });
            //  $('#btnsearchRejectResons').click(function () {

            //    $("#searchRejectResons").submit();
            // });
            $('#btnlookUpByDate').click(function () {
                var message = "Looking Employee Compliance Logs's All Employee's ";
                ShowLoadingDialog(message);
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchEmpID");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchEmpID");

                $("<input type='hidden' value='searchByLogScanDate' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchEmpID");
                $("#searchEmpID").submit();
            });
            //emp dep
            $('#btnsearchEmpDep').click(function () {
                if ($('#selEmpDep').val() == undefined) {
                    ShowHideDialog("searchempDepBlank");

                    return false;
                }

                if ($('#selEmpDep').val() == 'string-empty') {

                    ShowHideDialog("searchempDepBlank");

                    return false;
                }
                $('#btnCloseEmpDep').click();
                var message = "Looking up Employee Compliance Logs by Department " + $('#selEmpDep').val();
                ShowLoadingDialog(message);

                $("<input type='hidden' value='searchByEmpDep' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchEmpDep");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchEmpDep");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchEmpDep");

                $("<input type='hidden'/>")
                    .attr("value", $('#selEmpDep').val())
                    .attr("id", "perfLabCode")
                    .attr("name", "perfLabCode")
                    .prependTo("#searchEmpDep");
                $("#searchEmpDep").submit();

            });

            //emp doc type
            $('#btnsearchEmpDocType').click(function () {

                if ($('#selEmpDocType').val() == undefined) {
                    ShowHideDialog("searchempDocTypeBlank");

                    return false;
                }
                if ($('#selEmpDocType').val() == 'string-empty') {

                    ShowHideDialog("searchempDocTypeBlank");

                    return false;
                }
                $('#btnCloseEmpDocType').click();
                var message = "Looking up Employee Compliance Logs by Document Type " + $('#selEmpDocType').val();
                ShowLoadingDialog(message);

                $("<input type='hidden' value='searchByEmpDocType' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchEmpDocType");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchEmpDocType");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchEmpDocType");
                $("<input type='hidden'/>")
                    .attr("value", $('#selEmpDocType').val())
                    .attr("id", "perfLabCode")
                    .attr("name", "perfLabCode")
                    .prependTo("#searchEmpDocType");
                $("#searchEmpDocType").submit();

            });

            //emp jobtitle
            $('#btnsearchEmpJobTitle').click(function () {

                if ($('#selEmpJobTitle').val() == undefined) {
                    ShowHideDialog("searchempJobTitleBlank");

                    return false;
                }
                if ($('#selEmpJobTitle').val() == 'string-empty') {

                    ShowHideDialog("searchempJobTitleBlank");

                    return false;
                }
                $('#btnCloseEmpJobTitle').click();
                var message = "Looking up Employee Compliance Logs by Job Title " + $('#selEmpJobTitle').val();
                ShowLoadingDialog(message);

                $("<input type='hidden' value='searchByEmpJobTitle' />")
                    .attr("id", "searchby")
                    .attr("name", "searchby")
                    .prependTo("#searchEmpJobTitle");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchStartDate').val())
                    .attr("id", "startSDate")
                    .attr("name", "startSDate")
                    .prependTo("#searchEmpJobTitle");
                $("<input type='hidden'/>")
                    .attr("value", $('#searchEndDate').val())
                    .attr("id", "endSDate")
                    .attr("name", "endSDate")
                    .prependTo("#searchEmpJobTitle");
                $("<input type='hidden'/>")
                    .attr("value", $('#selEmpJobTitle').val())
                    .attr("id", "perfLabCode")
                    .attr("name", "perfLabCode")
                    .prependTo("#searchEmpJobTitle");
                $("#searchEmpJobTitle").submit();

            });




            //scan batch
            $('#btnSB').click(function () {

                $("#divMain").fadeOut(100);
                $('#myModalscanBatch').css("display", "block");
            });
            $('#btnclosescanBatch').click(function () {
                $("#divMain").fadeIn(100);
                $('#myModalscanBatch').css("display", "none");
            });
            //   $('#btnsearchscanBatch').click(function () {
            //     $('#btnclosescanBatch').click();
            //   $("#searchscanBatch").submit();
            // });


            $('#searchStartDate').change(function () {

                if ($('#searchEndDate').val() == '') {


                    $('#checkboxSearchDates').css("display", "block");
                    $("#searchBydate").val('searchByLogDate');

                    //$("#searchBydate").val('searchByLogDate');
                    $("#lDate").prop('checked', true);
                    $('#btnlookUpByDate').css("display", "block");

                }
                GetSearchStartEndDate();

            });

            $('#lDate').change(function () {
                $("#searchBydate").val('searchByLogDate');
                $('#sDate').prop('checked', false);

            });
            $('#sDate').change(function () {
                $("#lDate").prop('checked', false);
                $("#searchBydate").val('searchByScanDate');

            });
            $('#searchEndDate').change(function () {
                CheckSearchStartDate();

            });
            $('#searchByScanDate').change(function () {

                if ($('#searchByLogDate').prop('check', true)) {
                    $('#searchByLogDate').click();
                }
                if ($('#searchByScanDate').prop('check', true)) {
                    $('#searchByScanDate').prop('check', false)
                }

            });
        });//end doc ready
    </script>
}
