@page
@model Edocs.Demo.Application.Services.Pages.DemoPages.BSBPlanDepLookUpPermitsViewModel
@{
}
<div id="divmain" class="container-fluid">
    <h1 class="text-center">BSB Planning Department Advance Search</h1>
    <a href="#searchOptions" name="sOptions" id="sOptions" class=" btn btn-primary text-center" data-toggle="collapse" onmouseout="document.getElementById('showmess').style.display = 'none'" onmouseover="document.getElementById('showmess').style.display = 'block'">Search Options</a>
    <p class="alert-light" id="showmess" style="display:none">Click to expand/hide Search Options</p>
    <p class="p-md-2"></p>
    <div id="searchOptions" class="collapse">
        <div class="border-dark text-center">
            <form id="getPermits" method="get" class="form-horizontal border">
              
                
                <p class="p-md-0"></p>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.PermitNum)
                    @Html.EditorFor(m => m.BSPPlanModel.PermitNum)
                </div>
                <div class="form-group ">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   @Html.LabelFor(m => m.BSPPlanModel.Address)
                    @Html.EditorFor(m => m.BSPPlanModel.Address) &nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.AddressStartsWith) @Html.LabelFor(m => m.AddressStartsWith)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.ParcelNumber)
                    @Html.EditorFor(m => m.BSPPlanModel.ParcelNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.ZoneNumber)
                    @Html.EditorFor(m => m.BSPPlanModel.ZoneNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.ExePermitNumber)
                    @Html.EditorFor(m => m.BSPPlanModel.ExePermitNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.GoCode)
                    @Html.EditorFor(m => m.BSPPlanModel.GoCode)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.OwnerLot)
                    @Html.EditorFor(m => m.BSPPlanModel.OwnerLot)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BSPPlanModel.ConstCompany)
                    @Html.EditorFor(m => m.BSPPlanModel.ConstCompany)
                </div>
                <p class="p-md-1"></p>
                <div class="row text-center">

                    <div class="col-*-*  text-center" style="margin:0 auto;">
                        <button type="submit" class="btn btn-outline-dark btn-block" id="btnGetCust" name="btnGetCust">Search</button>
                    </div>




                    <div class="col-*-*  text-center" style="margin:0 auto;">
                        <button type="button" class="btn btn-danger btn-block btn-link" href="/DemoPages/BSBPlanDepLookUpPermitsView" id="btnDelCust" name="btnDelCust">Reset</button>
                    </div>




                </div>
                <p class="p-md-0"></p>
            </form>
            </div>
        </div>
    <div id="tab">
        @if ((@Model.DicBSPPlanModel != null) && (@Model.DicBSPPlanModel.Count > 0))
        {
        <table class="table table-hover w-auto table-bordered  table-info" id="dtlUsers">
            <thead>
                <tr class="w-auto">

                    <th>Permit Number</th>
                    <th>Parcel Number</th>
                    <th>Zone Number</th>
                    <th>Exe Permit Number</th>
                    <th>Go Code</th>
                    <th>Address</th>
                    <th>Owner Lot</th>
                    <th>Const Company</th>
                    <th>Date Issued</th>
                    <th>Date Experied</th>
                    <th>File</th>
                </tr>
            </thead>
            @foreach (var items in Model.DicBSPPlanModel)
            {
        <tr class="w-auto">
            <td>@items.Key.ToString()</td>
            <td>@items.Value.ParcelNumber</td>
            <td>@items.Value.ZoneNumber</td>
            <td>@items.Value.ExePermitNumber</td>
            <td>@items.Value.GoCode</td>
            <td>@items.Value.Address</td>
            <td>@items.Value.OwnerLot</td>
            <td>@items.Value.ConstCompany</td>
            <td>@items.Value.DateIssued.ToString("MM-dd-yyyy")</td>
            <td>@items.Value.DateExperied.ToString("MM-dd-yyyy")</td>
            <td> <a href="/Partial_Pages/DisplayPdfFilePartialView?pdfurl=@items.Value.FileUrl" target="_blank"> <img src="~/img/icpdf.gif" width="20" height="25" /></a></td>
           
        </tr>
            }
            </table>
                    }
        </div>
    </div>
