@page
@model Edocs.ITS.AppService.Pages.TrackingSystemReports.ITSReportsViewModel
@{
    ViewData["Title"] = "ITS Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/site.css" />
}
<div id="divMain" name="divMain" class="container-fluid">
    <h1 class="text-center text-dark">e-Docs USA Tracking System Reports </h1>
    <p class="p-0"></p>
    <a href="#searchOptions" name="sOptions" id="sOptions" class=" btn btn-primary text-center" data-toggle="collapse" onmouseout="document.getElementById('showmess').style.display = 'none'" onmouseover="document.getElementById('showmess').style.display = 'block'">Search Options</a>
    <p class="alert-light" id="showmess" style="display:none">Click to expand/hide Search Options</p>
    <p class="p-1" />

    <div id="searchOptions" class="collapse">
        <div class="container-fluid">
        </div>
        <table class="table table-bordered tablecenter">
            <thead>
                <tr>
                    <th class="text-center">Report Begin Date</th>
                    <th class="text-center">Report End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <p style="display:none" id="repErSDate" name="repERSDate" class="alert-danger">Scan Start Date Required</p>
                        @*  <input type="date" id="repSDate" name="repSDate" value="@Model.RepSDate" />*@
                        @Html.EditorFor(m => @Model.RepStartDate, new { @name = "RepStartDate", @id = "RepStartDate" })
                    </td>
                    @*

        <td class="text-center"><input type="date" id="repSEndDate" name="repSEndDate" value="@Model.RepEDate" /></td>
                    *@
                    <td>
                        @Html.EditorFor(m => @Model.RepEDate, new { @name = "RepEDate", @id = "RepEDate" })
                    </td>

                </tr>
            </tbody>

        </table>
        <form id="fRep" name="fRep" method="get">

            <table style="margin-left:auto;margin-right:auto">


                <tr>
                    <td>
                        <h5>Report Type?</h5>

                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="radio" name="repType" id="repType" value="docSent" checked> Documents Sent
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="repType" id="repType" value="docRecived"> Documents Recevied
                    </td>
                </tr>
                @*
                <tr>
                    <td>
                        <input type="radio" name="repType" id="repType" value="docScanningStarted"> Documents Scanning Started

                    </td>


                </tr>
                <tr>
                    <td>
                        <input type="radio" name="repType" id="repType" value="docTotalDone"> Total Scanned

                    </td>
                <tr>
                    <td>
                        Tracking ID <input type="text" name="trackingID" id="trackingID" value="">

                    </td>

                *@
                 
            </table>
            <br>

        </form>
        @*   <button style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;  margin: 4px 2px;cursor: pointer; transition-duration: 0.4s;" id="btnSubForm" name="btnSubForm">Report</button>*@
        <button class="btn btn-primary btn-outline-primary text-center float-left" id="btnSubForm" name="btnSubForm">Run Report</button>
        <a type="button" class="btn btn-outline-danger btn-link float-right" id="btnExit" href="/Index" name="btnExit">Exit</a>
        

    </div>
    <p class="p-2"></p>
    @if ((Model.ITSInventoryTransferSent != null) && (Model.ITSInventoryTransferSent.Count() > 0))
    {
        <div class="container-fluid">
            <h2 class="text-center text-info" >Total Documents Sent <span> @Model.ITSInventoryTransferSent.Count()</span></h2>
            <table cellspacing="2" style="margin-left:auto;margin-right:auto;border:double" width="100%">
                <thead>
                    <tr>
                        <th class="border text-center">Customer Name</th>
                        <th class="border text-center">Tacking ID</th>
                        <th class="border text-center">Sent By</th>
                        <th class="border text-center">Date Sent</th>
                        <th class="border text-center">Number Docs Sent</th>
                        <th class="border text-center">Scan Type</th>
                        <th class="border text-center">Delivery Method</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model.ITSInventoryTransferSent)
                    {
                    <tr onmouseover="$(this).css('background','#7abdff');" onmouseout="$(this).css('background','white');">
                        <td class="border text-center">@items.Value.EdocsCustomerName</td>
                        <td class="border text-center">@items.Key</td>
                        <td class="border text-center">@items.Value.UserName</td>

                        <td class="border text-center">@items.Value.DateSent.ToString("MM/dd/yyyy")</td>
                        <td class="border text-center">@items.Value.NumberDocsSent</td>
                        <td class="border text-center">@items.Value.ScanType</td>
                        <td class="border text-center">@items.Value.DeliveryMethod</td>


                    </tr>
                    }
                <tbody>
            </table>
        </div>
    }
    else
    {
        @if ((Model.ITSScanningManModelRec != null) && (Model.ITSScanningManModelRec.Count() > 0))
        {
<div class="container-fluid">
    <h2 class="text-center text-info">Total Documents Received <span> @Model.ITSScanningManModelRec.Count()</span></h2>
    <table cellspacing="2" style="margin-left:auto;margin-right:auto;border:double" width="100%">
        <thead>
            <tr>
                <th class="border text-center">Customer Name</th>
                <th class="border text-center">Tacking ID</th>
                <th class="border text-center">Recevied By</th>
                <th class="border text-center">Date Recevied</th>
                <th class="border text-center">Date Scanning Started</th>
                <th class="border text-center">Number Docs Recevied</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model.ITSScanningManModelRec)
            {
                <tr onmouseover="$(this).css('background','#7abdff');" onmouseout="$(this).css('background','white');">
                    <td class="border text-center">@items.Value.EdocsCustomerName</td>
                    <td class="border text-center">@items.Key</td>
                    <td class="border text-center">@items.Value.UserName</td>
                    <td class="border text-center">@items.Value.DateDocumentsReceived.ToString("MM/dd/yyyy")</td>
                    <td class="border text-center">@items.Value.DateScanningStarted.ToString("MM/dd/yyyy")</td>
                    <td class="border text-center">@items.Value.NumberDocumentsReceived</td>



                </tr>
            }
        <tbody>
    </table>
</div>
        }
    }
</div>@*end main div*@
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
        opacity: .8; filter: alpha(opacity=70);display:none">
    <p id="parLoading" style="position: absolute; top: 30%; left: 45%; color: White;">
        Getting data, please wait...<img src="~/Images/ajax-loading.gif">
    </p>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#TrepSDaterackingID').focus();

            $("#divLoading").hide();
            //$(this).bind("contextmenu", function (e) {

            //    e.preventDefault();

            //});
            $('#btnSubForm').click(function (e) {
                $("#divLoading").show();
              //  ShowLoading();
                $("<input type='hidden'/>")
                    .attr("value", $("#RepStartDate").val())
                    .attr("id", "repSDate")
                    .attr("name", "repSDate")
                    .prependTo("#fRep");
                $("<input type='hidden'/>")
                    .attr("value", $("#RepEDate").val())
                    .attr("id", "repSEndDate")
                    .attr("name", "repSEndDate")
                    .prependTo("#fRep");
                $("#fRep").submit();
            });
           
        });
    </script>
}