@page
@model Edocs.ITS.AppService.Pages.TrackingSystemReports.ITSReportCostViewModel
@{
	ViewData["Title"] = "ITS Reports Coast";
	Layout = "~/Pages/Shared/_Layout.cshtml";
	<link rel="stylesheet" href="~/css/site.css" />
}
<h1 class="text-center text-dark">e-Docs USA Tracking System Report Cost</h1>

@if ((string.IsNullOrWhiteSpace(@Model.CustomerID)))
{
	<div class="container-fluid">
		<h3 class="text-center text-info">Select Customer</h3>
		 <form method="get" id="formCustId" role="form">
			<div class="row text-center  form-inline">
                <div class="col-*-* text-center" style="margin:0 auto;">
                    <select id="cusID" name="cusID">
                        <option value="Customer Name">Customer Name</option>
                        @foreach (var id in Model.EdocsITCustomerIDs)
                        {
                            <option value="@id.EdocsCustomerID">@id.EdocsCustomerName</option>
                        }


                    </select>
                    @Html.ValidationMessage("ErrorMessage", new { @class = "text-danger" })
                </div>
			</div>
		</form>
	</div>
}
else
{
<div class="container-fluid">
    <p class="p-0"></p>
    <a href="#searchOptions" name="sOptions" id="sOptions" class=" btn btn-primary text-center" data-toggle="collapse" onmouseout="document.getElementById('showmess').style.display = 'none'" onmouseover="document.getElementById('showmess').style.display = 'block'">Search Options</a>
    <p class="alert-light" id="showmess" style="display:none">Click to expand/hide Search Options</p>
    <p class="p-1" />
    <div id="searchOptions" class="collapse">
        <div class="container-fluid">

            <form id="fRep" name="fRep" method="get">
                <h3 class="text-center">Scanning Cost for Customer Number @Model.CustomerID</h3>
                <input type="hidden" value="@Model.CustomerID" id="idCust" name="idCust" />
                <table class="table table-bordered tablecenter">
                    <thead>
                        <tr>

                            <th class="text-center">@Html.LabelFor(model => Model.RepStartDate)</th>
                            <th class="text-center">@Html.LabelFor(model => Model.RepEndDate)</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <p style="display:none" id="repErSDate" name="repERSDate" class="alert-danger">Scan Start Date Required</p>

                                @Html.EditorFor(m => @Model.RepStartDate, new { @name = "RepStartDate", @id = "RepStartDate", @class = "text-center" })


                            </td>
                            @*
                                class="text-center"><input type="date" id="repSEndDate" name="repSEndDate" /></td>
                            *@
                            <td> @Html.EditorFor(m => @Model.RepEndDate, new { @name = "RepEndDate", @id = "RepEndDate", @class = "text-center" }) </td>
                        </tr>
                    </tbody>

                </table>
            </form>
            <button class="btn btn-primary btn-outline-primary text-center float-left" id="btnSubForm" name="btnSubForm">Run Report</button>
            <a type="button" class="btn btn-outline-danger btn-link float-right" id="btnExit" href="/Index" name="btnExit">Exit</a>
            <p class="p-2"></p>
        </div>

    </div>
    <p class="p-2"></p>
    <div class="container-fluid " id="costScanning" style="display:none">
        
    </div>
    <div class="container-fluid " id="exportExcel" style="display:none">
        <p class="text-left">
            <button class="btn btn-outline-info" name="export" id="export">Export To Excel</button>
            <button class="btn btn-outline-info" name="createInvoice" id="cInv">Create Invoice</button>
           
        </p>
    </div>
</div>
}

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
        opacity: .8; filter: alpha(opacity=70);display:none">
	<p id="parLoading" style="position: absolute; top: 30%; left: 45%; color: White;">
		Getting data, please wait...<img src="~/Images/ajax-loading.gif">
	</p>
</div>

@section scripts{
<script>
	$(document).ready(function () {

		 

		$("#divLoading").hide();
		//$(this).bind("contextmenu", function (e) {

		//    e.preventDefault();

		//});
		//CompleteAjaxCall();
        $('#cusID').change(function (e) {
			//if (!(CheckEmptyString($("#repSDate").val(), 'Need a Report Begin Date:'))) {
			//    $("#repSDate").focus();
			//    return false;
			//}
			//if (!(CheckEmptyString($("#repSEndDate").val(), 'Need a Report Begin Date:'))) {
			//    $("#repSEndDate").focus();
			//    return false;
			//}
			$("#divLoading").show();
			//  ShowLoading();
			 
		 
				 
			$("#formCustId").submit();
			 
		});
        $('#btnSubForm').click(function () {


            $("#divLoading").show();
            //  e.preventDefault();
            
            var getUsersProfiles = "/Partial_Pages/EdocsITSPartialPageScanningCost?repSDate=" + $("#RepStartDate").val().replace('/', '-') + "&repEDate=" + $("#RepEndDate").val().replace('/', '-') + "&custID=" + $("#idCust").val();

            $.ajax({
                type: "GET",
                url: getUsersProfiles,
                contentType: 'application/html; charset=utf-8',
                data: "searchlr=sddd",
                datatype: "html",
                cache: false,

                success: function (result) {

                    $("#costScanning").html(result);
                    $("#costScanning").attr("style", "display:inline");
                    $("#exportExcel").attr("style", "display:inline");
                },
                complete: function () {
                    //   CompleteAjaxCall();
                    $("#divLoading").hide();
                   $('#dtlScanningCost').DataTable({ "pagingType": "full", "DisplayLength": "10" });
                    $('.dataTables_length').addClass('bs-select');

                },
                error: function (request, status, error) {
                    $("#divLoading").hide();
                    alert(error);
                    alert(request.getAllResponseHeaders());
                    alert(status.show);
                }
            });
        });
        $('#export').click(function () {


            $("#divLoading").show();
            //  e.preventDefault();
             
            var getUsersProfiles = "/Partial_Pages/EdocsITSPartialPageScanningCost?repSDate=" + $("#RepStartDate").val().replace('/', '-') + "&repEDate=" + $("#RepEndDate").val().replace('/', '-') + "&custID=" + $("#idCust").val() + "&export=exportExcel";
            window.open(getUsersProfiles, '_self');
            $("#divLoading").hide();
            //$.ajax({
            //    type: "GET",
            //    url: getUsersProfiles,
            //    contentType: 'text/plain; charset=utf-8',
            //    data: "searchlr=sddd",
            //    datatype: "text",
            //    cache: false,

            //    success: function (result) {
                    
            //        //$("#costScanning").html(result);
            //        //$("#costScanning").attr("style", "display:inline");
            //        //$("#exportExcel").attr("style", "display:inline");
                    
            //    },
            //    complete: function () {
            //        //   CompleteAjaxCall();
            //        $("#divLoading").hide();
            //        $('#dtlScanningCost').DataTable({ "pagingType": "full" });
            //        $('.dataTables_length').addClass('bs-select');

            //    },
            //    error: function (request, status, error) {
            //        $("#divLoading").hide();
            //        alert(error);
            //        alert(request.getAllResponseHeaders());
            //        alert(status.show);
            //    }
            //});
        });
        $('#cInv').click(function () {

            
            $("#divLoading").show();
            //  e.preventDefault();

            var getUsersProfiles = "/Invoice/CreateInvoiceView?repSDate=" + $("#RepStartDate").val().replace('/', '-') + "&repSEndDate=" + $("#RepEndDate").val().replace('/', '-') + "&custID=" + $("#idCust").val();
            window.open(getUsersProfiles, '_self');
            $("#divLoading").hide();
            //$.ajax({
            //    type: "GET",
            //    url: getUsersProfiles,
            //    contentType: 'text/plain; charset=utf-8',
            //    data: "searchlr=sddd",
            //    datatype: "text",
            //    cache: false,

            //    success: function (result) {

            //        //$("#costScanning").html(result);
            //        //$("#costScanning").attr("style", "display:inline");
            //        //$("#exportExcel").attr("style", "display:inline");

            //    },
            //    complete: function () {
            //        //   CompleteAjaxCall();
            //        $("#divLoading").hide();
            //        $('#dtlScanningCost').DataTable({ "pagingType": "full" });
            //        $('.dataTables_length').addClass('bs-select');

            //    },
            //    error: function (request, status, error) {
            //        $("#divLoading").hide();
            //        alert(error);
            //        alert(request.getAllResponseHeaders());
            //        alert(status.show);
            //    }
            //});
        });

       
	});
</script>
        }
